---
title: SZDT
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="icon" href="{{ "static/favicon.svg" | prepend: site.url }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ "static/main.css" | prepend: site.url }}" />
        <script type="module" src="{{ "static/main.js" | prepend: site.url }}"></script>
    </head>
    <body>
        <div class="page" id="page">
            <section class="page-main">
                <header class="page-main-header menu lg-invisible">
                    <nav class="menu-left">
                        <li>
                            <a href="{{ site.url }}" class="lockup">
                                <img class="img" src="{{ "static/logo2.png" | prepend: site.url }}" height="28" width="32"/>
                                <b class="text">SZDT</b>
                            </a>
                        </li>
                    </nav>
                    <nav class="menu-right">
                        <li><a id="menu" class="btn-icon" href="#"><img src="{{ "static/menu_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" | prepend: site.url }}" /></a></li>
                    </nav>
                </header>
                <div class="page-main-main">
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </section>
            <nav class="page-sidebar">
                <header class="page-sidebar-header menu">
                    <nav class="menu-left">
                        <a href="{{ site.url }}" class="lockup">
                            <img class="img" src="{{ "static/logo2.png" | prepend: site.url }}" height="28" width="32"/>
                            <b class="text">SZDT</b>
                        </a>
                    </nav>
                    <nav class="menu-right">
                        <li class="lg-hidden"><a id="close" class="btn-icon" href="#"><img src="{{ "static/close_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" | prepend: site.url }}" alt="Close" /></a></li>
                    </nav>
                </header>
                <div class="page-sidebar-main sections">
                    {% render "sidebar" %}
                </div>
            </nav>
        </div>
    </body>
</html>
