---
title: SZDT
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="icon" href="{{ "assets/favicon.svg" | prepend: site.url }}" />
        <link rel="stylesheet" href="{{ "assets/main.css" | prepend: site.url }}" />
        <script type="module" src="{{ "assets/main.js" | prepend: site.url }}"></script>
    </head>
    <body>
        <div class="page" id="page">
            <section class="page-main">
                <header class="page-main-header menu lg-invisible">
                    <nav class="menu-left">
                        <li>
                            <a href="{{ site.url }}" class="lockup">
                                <img class="img" src="{{ "assets/logo2.png" | prepend: site.url }}" height="28" width="32"/>
                                <b class="text">SZDT</b>
                            </a>
                        </li>
                    </nav>
                    <nav class="menu-right">
                        <li><a id="menu" class="btn-icon" href="#"><img src="/assets/menu_24dp_000_FILL0_wght400_GRAD0_opsz24.svg"/></a></li>
                    </nav>
                </header>
                <div class="page-main-main">
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </section>
            <nav class="page-sidebar">
                <header class="page-sidebar-header menu">
                    <nav class="menu-left">
                        <a href="{{ site.url }}" class="lockup">
                            <img class="img" src="{{ "assets/logo2.png" | prepend: site.url }}" height="28" width="32"/>
                            <b class="text">SZDT</b>
                        </a>
                    </nav>
                    <nav class="menu-right">
                        <li class="lg-hidden"><a id="close" class="btn-icon" href="#"><img src="{{ "assets/close_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" | prepend: site.url }}" alt="Close" /></a></li>
                    </nav>
                </header>
                <div class="page-sidebar-main sections">
                    <aside class="group">
                        <h1>Overview</h1>
                        <ul>
                            <li><a href="{{ site.url }}">Introduction</a></li>
                            <li><a href="{{ "download/" | prepend: site.url }}">Download</a></li>
                            <li><a href="{{ "faq/" | prepend: site.url }}">FAQ</a></li>
                        </ul>
                    </aside>
                    <aside class="group">
                        <h1>Guides</h1>
                        <ul>
                            <li><a href="{{ "guides/quick-start/" | prepend: site.url }}">Quick start</a></li>
                            <li><a href="{{ "guides/archives/" | prepend: site.url }}">Archiving/unarchiving</a></li>
                            <li><a href="{{ "guides/keys/" | prepend: site.url }}">Keys and signing</a></li>
                        </ul>
                    </aside>
                    <aside class="group">
                        <h1>Specs</h1>
                        <ul>
                            <li><a href="{{ "specs/memos/" | prepend: site.url }}">Memos</a></li>
                            <li><a href="{{ "specs/archives/" | prepend: site.url }}">Archives</a></li>
                        </ul>
                    </aside>
                    <aside class="group">
                        <h1>Developers</h1>
                        <ul>
                            <li><a rel="external" class="external" href="#">Rust API</a></li>
                            <li><a rel="external" class="external" href="#">crates.io</a></li>
                            <li><a rel="external" class="external" href="https://github.com/gordonbrander/szdt">Github</a></li>
                        </ul>
                    </aside>
                </div>
            </nav>
        </div>
    </body>
</html>
