<aside class="group">
    <h1>Guides</h1>
    <ul>
        <li><a href="{{ "guides/quick-start/" | prepend: site_url }}">Quick start</a></li>
    </ul>
</aside>
<aside class="group">
    <h1>Overview</h1>
    <ul>
        <li><a href="{{ "specs/explainer/" | prepend: site_url }}">Explainer</a></li>
        <li><a rel="external" class="external" target="_blank" href="https://github.com/gordonbrander/szdt/blob/main/WHITEPAPER.md">Whitepaper</a></li>
    </ul>
</aside>
<aside class="group">
    <h1>Specs</h1>
    <ul>
        <li><a href="{{ "specs/memos/" | prepend: site_url }}">Memos</a></li>
        <li><a href="{{ "specs/sequences/" | prepend: site_url }}">Sequences</a></li>
        <li><a href="{{ "specs/archives/" | prepend: site_url }}">Archives</a></li>
    </ul>
</aside>
<aside class="group">
    <h1>Developers</h1>
    <ul>
        <li><a rel="external" class="external" target="_blank" href="https://crates.io/crates/szdt_core">szdt_core on crates.io</a></li>
        <li><a rel="external" class="external" target="_blank" href="https://crates.io/crates/szdt_cli">szdt_cli on crates.io</a></li>
        <li><a rel="external" class="external" target="_blank" href="https://github.com/gordonbrander/szdt">szdt on GitHub</a></li>
    </ul>
</aside>
